.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 40%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.formContainer input{
    padding: .3rem;
    border-radius: .2rem;
    border: 1px solid black;
}
.showErrorMessage{
    color: red;
    font-size: .4rem;
}
.notShowErrorMessage{
    display: none;
}
.inputIncorrect{
    padding: .3rem;
    border-radius: .2rem;
    border: 1px solid black;
}
